body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
	margin-top: 7rem;
	font-size: 2.5rem;
}

.centered {
	text-align: center;
}

/*profile picture styling*/
#profile-picture {
	border-radius: 300px;
	border: solid white 4px;
}

#profpic-button {
	margin-bottom: 2rem;
}

#profpic-button, #profpic-form {
	margin-top: 1rem;
}

#info {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	font-size: 1.3rem;
	border: solid white;
}

#info table {
	width: 500px;
}

.upload-form {
	margin-top: 1rem;
	display: none;
}

/*orders styling*/
#orders-container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3rem;
	margin-top: 2rem;
}

#orders {
	border: solid white;
}

#no-orders {
	font-size: 1.5rem;
}

/*upload concert pictures styling */
.img {
	width:350px;
  height:350px;
  object-fit:scale-down;
}
