body {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  margin-top: 0;
}

.header img {
  width: 100%;
}

.header {
  position: relative;
  z-index: -1;
}

.centered h1{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: .8rem;
  left: 50%;
  color: white;
  font-size: 4rem;
  background-color: red;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title {
  color: white;
	text-align: center;
  font-size: 1.5rem;
  text-shadow: 1.5px 1px black;
  background-color: red;
  margin-left: 5rem;
  margin-right: 5rem;
}

section {
  margin-top: -.4rem;
  padding: 1rem;
  background-color: black;
}

section:first-of-type {
  padding-top: 5rem;
}

section:last-of-type {
  border-bottom: solid red 4px;
  padding-bottom: 5rem;
}

article {
  color: black;
	padding: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px red;
  background-color: white;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read More';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read Less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  color: white;
  font-size: .9em;
  background-color: red;
}

label {
	text-align: center;
}