* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: black;
}

.header img {
	width: 100%;
}
  
.header {
	position: relative;
	z-index: -1;
}

.centered h1{
	position: absolute;
	top: 60%;
	transform: translate(-50%, -50%);
	padding: .8rem;
	left: 50%;
	color: white;
	font-size: 4rem;
	text-shadow: 1.5px 1.5px red;
	padding-left: 2rem;
	padding-right: 2rem;
}

.head {
	margin-top: 6rem;
	text-align: center;
	color: white;
	text-shadow: 1.5px 1.5px red;
	font-size: 2.8rem;
}

.right {
	float: right;
	height: 300px;
	width: 300px;
}

.leftcolumn {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 75%;
	width: 25%;
	padding-left: 20px;
}

.infoleft {
	width: 40%;
	background-color: white;
	box-shadow: 5px 5px red;
	float: left;
	color: black;
	font-size: 1.3rem;
	margin-left: 5%;
	margin-top: 20px;
}

.inforight {
	width: 40%;
	background-color: white;
	box-shadow: 5px 5px red;
	float: right;
	margin-right: 5%;
	color: black;
	font-size: 1.3rem;
	margin-top: 20px;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.concerts {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 600px) {
	.leftcolumn, .middlecolumn, .rightcolumn, .concerts {
		width: 100%;
		height: auto;
  	}
}

.button {
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	margin-top: .1rem;
	padding: .5rem 1rem;
	background-color: red;
	border: black;
	color: white;
	font-family: 'Staatliches', sans-serif;
}

.form {
	display: block;
	text-align: center;
	
}

.subform	{
	border: none;
	background-color: white;
	padding: 2rem;
	border-radius: 1rem;
	width: 50%;
	margin: auto;

}

.subform1	{
	border: none;
	background-color: black;
	padding: 2rem;
	border-radius: 1rem;
	width: 10%;
	margin: auto;

}

.subform:last-of-type {
	margin-top: 2rem;
}

.title {
	color: grey;
	font-size: 18px;
}

.img1 {
	width: 100%;
	display: block;
}

table img{
	width:200px;
	height: 300px;
}

.hide {
	display: none;
}

.info{
	width: 100%;
	height: 300px;
  }

#boxshadow {
	position: relative;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	padding: 5px;
	background: red;
  }
  

  #boxshadow img {
	width: 100%;
	border: 1px solid #8a1919;
	border-style: inset;
  }
  
  #boxshadow::after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
	width: 70%; 
	left: 15%;
	height: 100px;
	bottom: 0;
  }

  ul.checkbox  { 
	margin: 0; 
	padding: 0; 
	margin-left: 20px; 
	list-style: none; 
  } 
  
  ul.checkbox li input { 
	margin-right: .25em; 
  } 
  
  ul.checkbox li { 
	border: 1px transparent solid;
	display:inline-block;
	width:12em;
  } 
  
  ul.checkbox li label { 
	margin-left: 10px; 
  } 
  ul.checkbox li:hover, 
  ul.checkbox li.focus  { 
	background-color: lightyellow; 
	border: 1px gray solid; 
	width: 12em; 
  } 

  .button4{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
	margin: 20px;
	}
	.button4:hover{
	border-top-color: rgba(255,255,255,1);
	}
	@media all and (max-width:30em){
	 .button4{
	display:block;
	margin:0.2em auto;
	}
} 